body{
        background: #21003b; /* Dark Background*/
        font-family: Arial, sans-serif;
        margin: 20px;
        padding: 20px;
        color: white;
        text-align: left;
        box-sizing: content-box;
        
    }

    nav{
        display: flex;
        justify-content: center;
        gap: 20px;
        margin: 30px;
    }

   .neon-btn{
    position:relative;
    display: flex;
    padding: 12px 30px;
    color: #132970;
    text-transform: uppercase;
    text-decoration: solid;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2px;
    border: 2px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3ps;
    background-color: #fff;
    box-shadow: 0 0 5px #632496, 0 0 10px #632496, 0 0 20px #632496, 0 0 40px #632496
   }
   .neon-btn:hover {
    background: #5a164b;
    color: #fff;
    box-shadow: 0 0 5px #632496, 
    0 0 10px #632496, 
    0 0 20px #632496, 
    0 0 40px #632496,
    0 0 80px #632496;
   }

   header, section, footer {
    padding: 40px 20px;
   }

   h1,h2{
    color: #fff;
    box-shadow: 0 0 5px #fff,
    0 0 10px #632496,
    0 0 20px #632496,
    0 0 40px #632496;
   }

   p,a {
    color: #fff;
    font-size: 17px;
    line-height: 1.6;
   }

a{
    color: #254ccc;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

a:hover{
    color: #000;
    background: #254ccc;
    padding: 2px 6px;
    border-radius: 4px;
    box-shadow: 0 0 10px #632496,
    0 0 20px #632496;
}

img.profile{
    width: 230px;
    height: auto;
    border-radius: 15px;
    margin-top: 10px 
}
footer{
    font-size: small;
    margin-top: 40px;
    color: #aaa;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0,7), rgba(4,9,30,0,7))url(images/equality.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

section {
  max-width: 1100px;
  margin: 25px auto;
 padding: 30px 20px;
 background: #111;
 border:1px solid #9c09af;
 border-radius: 10px;
    
}  

img {
  display: block;
  margin: 0 auto;
  border: 5px solid rgb(134, 19, 134);
  border-radius: 100px;
}

details {
  margin-bottom: 12px;
  background: #1a1a1a;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: 0.3s ease;
  color: #4801cc;
}

details:hover {
  background: #5500dd;
  color: #000;
}

summary {
  font-weight: bold;
  cursor: pointer;
  color: #cccccc;
}
.image-box {
    display: flex;
    justify-content: flex-start; 
    background-color: #1a1a1a; 
    padding: 20px;
    margin: 30px auto;
    border: 2px solid #632496;
    border-radius: 15px;
    max-width: 600px;
    box-shadow: 0 0 15px #632496;
}

.side-image {
    width: 100%;
    max-width: 300px;
    border-radius: 15px;
    border: 3px solid #8729b4;
    margin-right: 20px;
}


.container {
      width: 100%;
      display: flex;
      justify-content: center;
      height: 700px;
      gap: 16px;
      padding: 40px;
      box-sizing: border-box;
    }

    .container li {
      list-style: none;
      position: relative;
      overflow: hidden;
      flex: 0 0 100px;
      border-radius: 100px;
      cursor: pointer;
      border: 1px solid #2c1010;
      transition: flex 0.4s ease;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .container li:hover {
      flex: 1;
      border-radius: 10px;
    }

    .container img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.4s ease;
    }

    .container li:hover img {
      transform: scale(1.1);
      filter: brightness(0.5);
    }

    .content {
      position: absolute;
      color: rgb(77, 15, 15);
      text-align: center;
      opacity: 0;
      transition: opacity 0.4s ease;
      padding: 20px;
    }

    .container li:hover .content {
      opacity: 1;
    }

    .content h2 {
      margin: 0 0 10px;
    }

    .content p {
      margin: 0;
      font-size: 14px;
    }








